{% extends 'base.html.twig' %}

{% block main %}


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
        {% for categorie in categories %}
            <a href="{{ path ('projet_products_by_categorie',{'id':categorie.id}) }}" class="list-group-item {% if categorie == categorieAc %}active{% endif %}">{{ categorie.nom }}</a>
        {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

  


        <div class="row">
        {% for medicament in medicaments %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ path ('projet_product_details',{'id':medicament.id}) }}">
              <img class="card-img-top" src="{{ asset ('images/upload/' ~ medicament.image) }}" width="200" height="200" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ path ('projet_product_details',{'id':medicament.id}) }}">{{ medicament.nom }}</a>
                </h4>
                <h5>{{ medicament.prix }}DT</h5>
                <p class="card-text">{{ medicament.description }}</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary btn-xg">Ajouter au panier <a>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
