<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>COVID-19 | App!</title>

    <link rel="shortcut icon" href="{{ asset('assets/images/gt_favicon.png') }}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.css') }}" media="screen" >
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    
 <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/scss') }}">
 <link rel="shortcut icon" href="{{ asset('assets/images/gt_favicon.png') }}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ asset ('bundles/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset ('bundles/bower_components/font-awesome/css/font-awesome.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ asset ('bundles/bower_components/Ionicons/css/ionicons.min.css') }}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{{ asset ('bundles/bower_components/jvectormap/jquery-jvectormap.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset ('bundles/dist/css/AdminLTE.min.css') }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ asset ('bundles/dist/css/skins/_all-skins.min.css') }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

    <script src="{{ asset ('assets/js/html5shiv.js') }}"></script>
    <script src="{{ asset ('assets/js/respond.min.js') }}"></script>

    <![endif]-->
    <style type="text/css">
     .containerr {
    display: inline-block;
    position: relative;
    width:70%;
}
.containerr .text {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
   
}
    </style>
</head>

<body class="home">
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span> 
             <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ asset ('assets/images/logo8.png') }}"   alt="Progressus HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="{{ path ('homepage') }}">Acceuil</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="sidebar-left.html">Left Sidebar</a></li>
                        <li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li> 

                 {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="{{ path ('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                  <li><a href="{{ path ('fos_user_profile_show') }}">Profile</a></li>
                                  <li class="active"><a href="{{ path ('fos_user_security_logout') }}">Logout</a></li>
                              </ul>
                         </li>
                {% else %}
                <li><a class="btn" href="{{ path('fos_user_security_login') }}">SIGN IN </a></li>
                <li><a class="btn" href="{{ path ('fos_user_registration_register') }}"><i class="fa fa-circle-o"></i> REGISTER</a></li>
                {% endif %}
                

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a class="btn" href="{{ path ('projet_homepage') }}"><i class="fa fa-circle-o"></i> Dashboard</a></li>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="btn" href="{{ path ('projet_homepage') }}"><i class="fa fa-circle-o"></i> Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Votre Pharmacie<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a href="sidebar-left.html">Ajouter</a></li>
                           <li class="active"><a href="sidebar-right.html">Afficher</a></li>
                        </ul>
                    </li>
                    {% endif %}
                {% endif %}
                
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<header>
<hr>
<hr> 
<hr>
<hr>
<hr>
<hr>
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
        <div class="containerr"><img class="img-fluid rounded" src="{{ asset ('assets/images/comprendre2.jpg') }}">
        <div class="text"><h1>  Comprendre la Covid-19</h1></div>
        </div>
       

      <div class="col-lg-8">
        <div class="c-titre">
           <h1 class="text-center" style="color: #00c19f;"><span  anchor=""></span>L'origine du virus</h1> 
        </div>
        <h4><strong>La COVID-19, un nouveau coronavirus</strong></h4>
         <p class="lead">Le virus identifié en janvier 2020 en Chine est un nouveau coronavirus, nommé SARS-CoV-2. 
         La maladie provoquée par ce coronavirus a été nommée COVID-19 par
         <a href="https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank" data-smarttag-click="{&quot;name&quot;: &quot;https//www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public&quot;, &quot;type&quot;: &quot;exit&quot;}">
         l’Organisation mondiale de la Santé .</a></p>
         <p class="lead">- OMS. Depuis le 11 mars 2020, l’OMS qualifie la situation mondiale du COVID-19 de pandémie ; c’est-à-dire que l’épidémie est désormais mondiale.

        Les coronavirus sont une famille de virus qui provoquent des maladies allant d’un simple rhume (certains virus saisonniers sont des coronavirus) 
        à des pathologies plus sévères (comme les détresses respiratoires du MERS, du SRAS ou de la COVID-19).</p>
        
        <h4><strong>La dangerosité</strong></h4>
        <h5>La COVID-19 est un virus dangereux parce que :</h5>
        <p>il est très contagieux : chaque personne infectée va contaminer au moins 3 personnes en l'absence de mesures de protection;
        une personne contaminée mais qui ne ressent pas encore de symptômes peut contaminer d’autres personnes.</p>
        
         <section class="content">
        <div class="row">
            <div class="col-md-8" style="margin-left: 150px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Les symptômes</h3>
                    </div>
         <div class="box-body">
           <div >La COVID-19 peut se manifester par :
              <p>la fièvre ou la sensation de fièvre (frissons, chaud-froid) ;</p> 
              <p>la toux ;</p>
              <p>des maux de tête, courbatures, une fatigue inhabituelle ;</p>
              <p>une perte brutale de l’odorat (sans obstruction nasale), une disparition totale du goût, ou une diarrhée ;</p>
              <p>dans les formes plus graves : difficultés respiratoires pouvant mener jusqu’à une hospitalisation en réanimation voire au décès.</p>
          </div>
          </div></div></div>
          </section>
          <br><br><br>
           <section class="content">
        <div class="row">
            <div class="col-md-8" style="margin-left: 150px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">La transmission</h3>
                    </div>
         <div class="box-body">
           <div >La maladie se transmet :
              <p>par projection de gouttelettes (comme les postillons) contaminées par une personne porteuse : en toussant, éternuant ou en cas de contacts étroits en l’absence de mesures de protection (distance physique, mesures barrières, port du masque). Les gouttelettes contaminées sont inhalées par la personne saine, et déclenchent la maladie ;</p> 
              <p>par contact direct physique (poignée de main, accolade, bise...) entre une personne porteuse et une personne saine. Le virus est ensuite transmis à la personne saine quand elle porte ses mains à la bouche ;</p>
              <p>par contact indirect, via des objets ou surfaces contaminées par une personne porteuse. Le virus est ensuite transmis à une personne saine qui manipule ces objets, quand elle porte ses mains à la bouche ;</p>
              <p>par l’air, essentiellement dans un espace confiné.</p>
          </div>
          </div></div></div>
          </section>
        

       <p>La meilleure des protections : les mesures barrières, les mesures de distanciation physique et l’aération régulière des pièces.</p>

        <hr>
            <h1 class="text-center" style="color: #00c19f;">Comment puis-je me protéger du Coronavirus ?</h1>
        <hr>
        <!-- Preview Image -->
        <img class="img-fluid rounded"  src="{{ asset ('assets/images/proteger.png') }}">
        <hr>
        <!-- Post Content -->
        <p class="lead"><p>Limiter le contact&#46;</p>
                        <p>Manger dans des zones séparées&#46;</p>
                        <p>Porter un masque ou des gants&#46;</p>
                        <p>Nettoyez-vous souvent les mains&#46;</p>
                        <p>Évitez de partager des objets personnels&#46;</p>
                        <p>Laver et sécher le linge&#46;</p>
                        <p>Utilisez une poubelle doublée&#46;</p>
                        <p>Suivez votre propre santé&#46;</p>

       

        <hr>

      </div>

      <!-- Sidebar Widgets Column -->
    
    <!-- /.row -->

  </div>
</header>

</body>