{% extends 'base.html.twig' %}

{% block fos_user_content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
</head>
<!-- Page Content -->
<div class="pull-right">
          <form action="search" method="get" class="form-inline">
            <div class="input-group">
              <input type="text" name="search" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Je cherche...">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-info"><span class="fa fa-search"></span>
                  Chercher
                </button>
              </div>
            </div>
          </form>
        </div>
 
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4 " style="color: #00c19f;">Les Pharmacies</h1>
        <div  class="list-group">
        {% for pharmacies in pharmacie %}
            <a href="{{ path ('projet_products_by_categorie',{'id':pharmacies.id}) }}" class="list-group-item"><h3 style="color:red;">{{ pharmacies.gouvernorat}}</h3> : <h4>{{ pharmacies.nom}}</h4></a>
        {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
                    <div class="container mt-3">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                      <!-- Indicators -->
                      <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ul>
                      
                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{{ asset ('assets/images/zinc.jpg') }}" alt="Los Angeles" width="900" height="350">
                        </div>
                        <div class="carousel-item">
                          <img src="{{ asset ('assets/images/zinc2.jpg') }}" alt="Chicago" width="900" height="350">
                        </div>
                        <div class="carousel-item">
                          <img src="{{ asset ('assets/images/zinc3.jpg') }}" alt="New York" width="900" height="350">
                        </div>
                      </div>
                      
                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
              </div>
              </div>
<br><br><br><br>
        <div class="row">
        {% for medicament in medicaments %} 
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ path ('projet_product_details',{'id':medicament.id}) }}">
              <img  class="card-img-top" src="{{ asset ('images/upload/' ~ medicament.image) }}" width="200" height="200"><br>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ path ('projet_product_details',{'id':medicament.id}) }}">{{ medicament.nom }}</a>
                </h4>
                <h5>{{ medicament.prix }}DT</h5>
                <p class="card-text">{{ medicament.description }}</p>
              </div>
              {% if medicament.stock >0 %}
              <div class="card-footer">
                <a href="{{ path ('projet_add_cart',{'id':medicament.id}) }}" class="btn btn-primary glyphicon glyphicon-shopping-cart">Ajouter au panier</a>
              </div>
              {% elseif medicament.stock == 0 %}
                    <span class="alert alert-danger text-center"><strong>Repture en stock</strong></span>
              {% endif %}
              
            </div>
          </div>
          {% endfor %}


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
