{% extends 'base.html.twig' %}

{% block fos_user_content %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codec</th>
                <th>Datec</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{{ commande.codeC }}</td>
                <td>{% if commande.dateC %}{{ commande.dateC|date('Y-m-d') }}{% endif %}</td>
                <td>{{ commande.montant }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'id': commande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_edit', { 'id': commande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
