{% extends 'dashboard.html.twig' %}

{% block fos_user_content %}
<div>
  <section class="content">
        <div class="row">
            <div class="col-md-8" style="margin-left: 150px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> <strong> <em> Médicament &#58; {{ medicament.nom }}</em></strong></h3>
                    </div>
                    <div class="box-body">
      <table id="myTable" class="table table-bordered table-hover">
           <img src="{{ asset ('images/upload/' ~ medicament.image|e ) }}"  width="200" height="200"><br>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
             <tr>
                <th>Id</th>
                <td>{{ medicament.categorie.nom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medicament.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ medicament.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ medicament.prix }}</td>
            </tr>
            <tr>
                <th>Datefab</th>
                <td>{% if medicament.dateFab %}{{ medicament.dateFab|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateexp</th>
                <td>{% if medicament.dateExp %}{{ medicament.dateExp|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

     </div>
                    <div class="box-footer">
                        <a href="{{ path('medicament_index') }}" class="btn btn-default"> Annuler</a>
                        <a href="{{ path('medicament_edit', { 'id': medicament.id }) }}" class="pull-right btn btn-warning  btn-sm">
                            <i class="fa  fa-pencil-square-o"></i> Modifier
                        </a>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="pull-right btn btn-danger btn-sm"> <i class="fa fa-trash-o">
                            </i> Supprimer
                        </button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
