{% extends 'dashboard.html.twig' %}

{% block fos_user_content %}
    <div>
    <section>
        <ol class="breadcrumb active">
            <li><a href="{{ path('categorie_index') }}"> Liste Des Categorie </a></li>
            <li><a href="#"> Les Informations De La Categorie </a></li>
            <li><a href="#"> Modifier Les Informations </a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-8" style="margin-left: 150px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title"> <strong> <em> Modifier Les Informations &#58; {{ categorie.nom }} </em></strong></h2>
                    </div>
    <div class="box-body">

    {{ form_start(edit_form) }}
    
         <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Categorie </i> </h4>
                                {{ form_widget(edit_form.nom) }}
            </div>
            <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Description </i> </h4>
                                {{ form_widget(edit_form.description) }}
            </div>
                                            <input type="submit" class="pull-left btn  btn-primary btn-sm" value="Edit" />
            {{ form_end(edit_form) }}
       <div class="box-footer">
                                <a href="{{ path('categorie_index') }}" class="btn btn-default"> Annuler</a>
                                {{ form_start(delete_form) }}
                                <button type="submit" class="pull-right btn  btn-danger btn-sm"> <i class="fa fa-trash-o">
                                    </i> Supprimer
                                </button>
                                {{ form_end(delete_form) }}
                            </div>
                          
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
