{% extends 'dashboard.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block fos_user_content %}
    <div>
    <section>
        <ol class="breadcrumb active">
            <li><a href="{{ path('categorie_index') }}"> Liste Des Catégories </a></li>
            <li><a href="#"> Ajout Catégorie </a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-8" style="margin-left: 150px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="text-center" style="color:red">Ajouter Une catégorie</h2>
                    </div>
     <div class="box-body">
    {{ form_start(form) }}
        <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Categorie </i> </h4>
                                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Description </i> </h4>
                                {{ form_widget(form.description) }}
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                {{form_widget(form.medicaments)}}
            <a href="#" id="add_medicaments" class="btn btn-info">Ajouter Un Médicament</a>
            </div>
        <input type="submit" class="btn btn-primary col-md-12" value="Ajouter" />
    {{ form_end(form) }}
  <div class="box-footer">
                                <a href="{{ path('medicament_index') }}" class="btn btn-danger"> Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
 </div>
 <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2021</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#projetbundle_categorie_medicaments');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_medicaments').click(function(e) {
      addCategory($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire CategoryType
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Produit n°' + (index+1))
       .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>
  
{% endblock %}
