{% extends 'dashboard.html.twig' %}
{% block fos_user_content %}
    <div>
    <section>
        <ol class="breadcrumb active">
            <li><a href="{{ path('categorie_index') }}"> Liste Des Catégories </a></li>
            <li><a href="#"> Ajout Catégorie </a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-8" style="margin-left: 150px">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="text-center" style="color:red">Ajouter Une catégorie</h2>
                    </div>
     <div class="box-body">
    {{ form_start(form) }}
        <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Pharmacie </i> </h4>
                                {{ form_widget(form.pharmacie) }}
            </div>
        <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Categorie </i> </h4>
                                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                                <h4><i class="fa fa-pencil-square"> Description </i> </h4>
                                {{ form_widget(form.description) }}
            </div>
        <input type="submit" class="btn btn-primary col-md-12" value="Ajouter" />
    {{ form_end(form) }}
  <div class="box-footer">
                                <a href="{{ path('medicament_index') }}" class="btn btn-danger"> Annuler</a>
                            </div>
                            {{ form_end(form) }}
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
 </div>
 <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2021</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  
  
{% endblock %}
